.Event {
    background-color: #ffffff;
    border: 1px solid #dadadf;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
}

.Event figure,
h5 {
    margin: 0 0;
}

.EventBar {
    border-top: 1px solid #dadadf;
    margin-top: 20px;
    padding-top: 10px;
}

.Heading {
    color: #104b87;
    font-weight: bold;
}

.LikeImpossible:hover,
.AttendImpossible:hover {
    color: #000000;
}

.Liked,
.Attended {
    color: #54d9ff;
}

.UnLiked,
.UnAttended {
    color: #104b87;
}