.NavBar {
    font-family: "Bungee Inline", sans-serif;
    background-color: #104b87;
}

.NavLink {
    padding: 5px;
}

.Active i {
    color: #c1dfff;
}

a {
    color: #ffffff;
}

a:hover {
    text-decoration: none;
    color: #ffffff;
}

a:hover i {
    color: #c1dfff;
    transition: color ease-in-out 0.3s;
}

i {
    color: #ffffff;
    font-size: 1.6rem;
    padding: 7px;
    vertical-align: middle;
}

i:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color: #c1dfff;
}