.Form {
    border: none;
    border-bottom: 2px #54d9ff solid;
}

.Heading {
    font-weight: bold;
    color: #104b87;
    display: block;
    text-align: center;
}

.Button {
    border: none;
    background-color: #104b87;
    color: #ffffff;
    border-radius: 100px;
    padding: 4px 10px;
    min-width: 75px;
    margin: 5px;
}

.Button:hover {
    cursor: pointer;
    background-color: #54d9ff;
    color: #104b87;
}